include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
include pytest.ini
recursive-include src/datafold_sdk *.py
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
recursive-exclude * .pytest_cache